@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-nunito;
    @apply text-black;
    @apply bg-body;
}

.container {
    @apply mx-20;
}

.filter-active {
    @apply border-black text-black;
}

@media (min-width: 1024px) {
    .nav-active {
        color: #000;
    }
    .nav-active::after {
        content: "";
        display: block;
        width: 50%;
        height: 2px;
        background-color: #000;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-fraunces subpixel-antialiased;
}

p {
    line-height: 24px;
    @apply text-black-secondary subpixel-antialiased;
}

h1 {
    @apply text-4xl md:text-5xl;
}
h2 {
    @apply text-3xl md:text-4xl;
}
h3 {
    font-size: 32px;
}
h4 {
    @apply text-2xl;
}
h5 {
    @apply text-xl;
}

h6 {
    @apply text-lg font-semibold;
}

.container {
    @apply mx-5 lg:mx-10 xl:mx-20 2xl:mx-40 w-auto;
}
